@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .swiper-pagination {
    position: absolute;
    text-align: center !important;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1536px) {
  .swiper-pagination {
    position: absolute;
    text-align: right !important;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
}