@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-pagination {
  position: absolute;
  text-align: right !important;
  transition: .3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}